---
// Products.astro

interface Product {
  id: number;
  name: string;
  image: string;
  hoverImage: string;
  url: string;
  darkBackground?: boolean;
}

interface Props {
  products?: Product[];
}

// Default products data - will be replaced by CMS data
const defaultProducts: Product[] = [
  { 
    id: 1, 
    name: 'Flow Generator Lamp', 
    image: '/shop/01.png',
    hoverImage: '/shop/01.webp',
    url: 'https://shop.hotlavaagency.com/products/hot-lava-boxed-lava-lamp',
    darkBackground: true
  },
  { 
    id: 2, 
    name: 'Hot Sauce Original Trio', 
    image: '/shop/02.png',
    hoverImage: '/shop/02.webp',
    url: 'https://shop.hotlavaagency.com/products/hot-lava-boxed-hot-sauces',
    darkBackground: true
  },
  { 
    id: 3, 
    name: 'Lava Scented Candle', 
    image: '/shop/03.png',
    hoverImage: '/shop/03.webp',
    url: 'https://shop.hotlavaagency.com/products/concrete-candle-lava-scent',
    darkBackground: true
  },
  { 
    id: 4, 
    name: 'Volcanic Hoodie', 
    image: '/shop/04.png',
    hoverImage: '/shop/04.webp',
    url: 'https://shop.hotlavaagency.com/products/hot-lava-hoodie',
    darkBackground: true
  },
  { 
    id: 5, 
    name: 'Ember Key Charm', 
    image: '/shop/05.png',
    hoverImage: '/shop/05.webp',
    url: 'https://shop.hotlavaagency.com/products/hot-lava-keychain',
    darkBackground: true
  },
  { 
    id: 6, 
    name: 'Ember Thinking Cap', 
    image: '/shop/06.png',
    hoverImage: '/shop/06.webp',
    url: 'https://shop.hotlavaagency.com/products/hot-lava-hat',
    darkBackground: true
  },
  // { 
  //   id: 7, 
  //   name: 'Non-Toxic Tee', 
  //   image: '',
  //   hoverImage: '',
  //   url: 'https://shop.hotlavaagency.com/',
  //   darkBackground: true
  // },
  // { 
  //   id: 8, 
  //   name: 'Hot Sauce Triple Burn', 
  //   image: '',
  //   hoverImage: '',
  //   url: 'https://shop.hotlavaagency.com/',
  //   darkBackground: true
  // },
  // { 
  //   id: 9, 
  //   name: 'Sweet Magma Diffuser', 
  //   image: '',
  //   hoverImage: '',
  //   url: 'https://shop.hotlavaagency.com/',
  //   darkBackground: true
  // },
  { 
    id: 10, 
    name: 'Make it Hot Hoodie', 
    image: '/shop/MakeITHot.png',
    hoverImage: '/shop/MakeITHot.webp',
    url: 'https://shop.hotlavaagency.com/products/hot-lava-hoodie',
    darkBackground: true
  },
  { 
    id: 11, 
    name: 'Lava Lamp Thinking Cap', 
    image: '/shop/11.png',
    hoverImage: '/shop/LavaLampHat.png',
    url: 'https://shop.hotlavaagency.com/products/lava-lamp-hat',
    darkBackground: true
  },
  { 
    id: 12, 
    name: 'Molten Oven Mitten', 
    image: '/shop/12.png',
    hoverImage: '/shop/HLAOvenMittens.webp',
    url: 'https://shop.hotlavaagency.com/products/hot-lava-mitts',
    darkBackground: true
  },
];

const { products = defaultProducts } = Astro.props;
---

<section id="shop" class="products shop">
  <div class="shop__hero">
    <!-- <img src="/shop/bg.png" alt="The Lava Shop - Est. 2024" /> -->
  </div> 
  <div class="wrapper">
    <div class="shop__logo">
      <img src="/shop/the-lava-shop.gif" alt="The Lava Shop - Est. 2024" />
    </div>
      
    <div class="container products__grid"> 
      {products.map((product) => (
        <a 
          href={product.url} 
          target="_blank" 
          rel="noopener noreferrer"
          class={`product__card product__card--${product.id} ${product.darkBackground ? 'product__card--dark' : ''}`}
        >
          <img 
            src={product.hoverImage} 
            alt={product.name}
            class="product__hover-image"
            loading="lazy"
          />
          <div class="product__content">
            <span class="product__name">{product.name}</span>
            <span class="product__view-text">View Details <span>→</span></span>
          </div>
        </a>
      ))}
    </div>
  </div>
</section>

<script>
  import { initCustomCursor } from '../../scripts/utils/custom-cursor.js';

  // Initialize custom cursor for product cards
  if (typeof window !== 'undefined') {
    if (document.readyState === 'complete') {
      initCustomCursor('.product__card', {
        text: 'View',
        cursorId: 'shop-cursor',
      });
    } else {
      window.addEventListener('load', () => {
        initCustomCursor('.product__card', {
          text: 'View',
          cursorId: 'shop-cursor',
        });
      });
    }
  }
</script>
