---
// Nav.astro

const navItems = [
  {
    label: "Home",
    href: "#home",
    class: "home-link",
  },
  {
    label: "About",
    href: "#about",
    mobileHref: "#about-us",
    class: "about-link",
    mobileLabel: "About",
  },
  {
    label: "Work",
    href: "#work",
    class: "how-we-work-link",
    mobileLabel: "Work",
  },
  {
    label: "Shop",
    href: "#shop",
    class: "shop-link",
    mobileLabel: "Shop",
  },
  {
    label: "Contact",
    href: "#contact",
    class: "contact-link",
    mobileLabel: "Contact",
  },
];

const contactInfo = {
  text: "Well, Hot Lava! We'd love to chat too.",
  textAfterBreak: "For inquiries, contact:",
  email: "info@hotlavaagency.com",
};
---

<nav class="menu" id="home">
  <div class="desktop">
    <ul class="navbar">
      {navItems.map((item) => (
        <li>
          <a class={item.class} href={item.href}>
            {item.label}
          </a>
        </li>
      ))}
    </ul>
  </div>

  <div class="mobile hidden">
    <div class="close">
      <button class="button">
        <svg
          xmlns="http://www.w3.org/2000/svg"
          viewBox="0 0 24 24"
          width="24px"
          height="24px"
        >
          <path
            d="M 4.9902344 3.9902344 A 1.0001 1.0001 0 0 0 4.2929688 5.7070312 L 10.585938 12 L 4.2929688 18.292969 A 1.0001 1.0001 0 1 0 5.7070312 19.707031 L 12 13.414062 L 18.292969 19.707031 A 1.0001 1.0001 0 1 0 19.707031 18.292969 L 13.414062 12 L 19.707031 5.7070312 A 1.0001 1.0001 0 0 0 18.980469 3.9902344 A 1.0001 1.0001 0 0 0 18.292969 4.2929688 L 12 10.585938 L 5.7070312 4.2929688 A 1.0001 1.0001 0 0 0 4.9902344 3.9902344 z"
          />
        </svg>
      </button>
    </div>
    <div class="nav">
      <ul>
        {navItems
          .filter((item) => !('mobile' in item) || item.mobile !== false)
          .map((item) => (
            <li>
              <a class={item.class} href={item.mobileHref || item.href}>
                {item.mobileLabel || item.label}
              </a>
            </li>
          ))}
      </ul>
    </div>
    <div class="contact">
      <p>
        {contactInfo.text} <br />
        {contactInfo.textAfterBreak}
      </p>
      <a href={`mailto:${contactInfo.email}`}>{contactInfo.email}</a>
    </div>
  </div>
</nav>

<script>
  import gsap from "gsap";
  import ScrollTrigger from "gsap/dist/ScrollTrigger";

  // Register ScrollTrigger plugin
  gsap.registerPlugin(ScrollTrigger);

  // Navbar animation
  const navbar = document.querySelector(".navbar");
  const slogan = document.querySelector(".slogan");
  
  if (navbar && slogan) {
    gsap.fromTo(
      navbar,
      {
        willChange: "opacity",
        opacity: 0,
        x: 30,
      },
      {
        ease: "power1.inOut",
        opacity: 1,
        delay: 1.5,
        x: 0,
        scrollTrigger: {
          trigger: slogan,
          start: "top bottom",
          end: "center top",
        },
      }
    );
  }
</script>